.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    flex-grow: 1;
    height: 367px;
    padding: 32px 25px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    
}

.card__preview {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    
}